/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

* {
    font-family: 'Crimson', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Crimson', sans-serif;
    
}

main {
    background: url("../images/canadianparliament.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;

}

.box {
  width: 90%;
  max-width: 600px;
  height: 30rem;
  border-radius: 30px;
  margin: 100px auto 0;
  padding: 20px;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;


}

#header {
    padding: 10px;

}

.questions {
    padding: 10px;

}

#question {
    padding: 10px;

}

.btn {
    background: white;
    color: black;
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;

}

.btn:hover {
    background: black;
    color: white;

}